html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}
.header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header ul li{
    margin: 0 15px;
}
.header ul li:last-child{margin-right: 0;}
.res-card {
	border: 1px solid black;
    width: 200px;
    background-color: aliceblue;
	margin: 10px;
}
.res-card img{
	width: 200px;
}
.res-container, .shimmer-container{
	display: flex;
	flex-wrap: wrap;
}
.filter-wrap{
	margin-top: 15px;
	margin-left: 10px;
	display: flex;
}
.filter-btn{
	cursor: pointer;
	margin-left: 20px;
}
/* SHimerUI */
.shimmer-container{margin-top: 35px;}
.shimmer-card{
    width: 200px;
	height: 300px;
    background-color: rgb(219, 214, 214);
	margin: 10px;
}
.shimmer-main{
  display:flex;
  flex-wrap: wrap;
}
.shimmer-card-box{
  width:200px;
  border-radius:10px;
  height:300px;
  box-shadow:1px 1px 10px lightgray;
  display:flex;
  flex-direction:column;
  position:relative;
  margin: 10px;
}
.shimmer-header{
  width:100%;
  height:70%;
  border-radius:10px;
  overflow:hidden;
}
.header-box{
  width:100%;
  height:100%;
}
.shimmer-body{
  width:100%;
}
.line{
  width:100%;
  height:20px;
  margin-top:10px;
  background: #f6f7f8;
}
.line:last-child{
  width:60%;
}
.shimmer-class{
  background: #f6f7f8;
  background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
  background-repeat: no-repeat;
  background-size: cover; 
  animation:shimmer 1s linear infinite;
}
@keyframes shimmer{
  0% {
    background-position: -468px 0;
  }
  
  100% {
    background-position: 468px 0; 
  }
}

.about .user-card, .userclass-card{
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  width: 300px;
  margin: 10px;
  line-height: 20px;
}